{% extends 'base.html' %}

{% block title %}Beziamag - Your Trusted Source for Auto Details{% endblock %}

{% block content %}
<main class="main-content">

    <!-- ** HERO ** -->
    <div class="hero">
      <div class="hero__container container">
        <div class="hero__content">
          <h1 class="hero__title"><span>Beziamag,</span> Where Quality Meets Precision in Auto Spare Parts.</h1>
          <p class="hero__text">
            "Beziamag is an excellent brand in the field of auto parts. We set new standards in quality and exclusion, we manufacture each product with perfection. Upgrade your car with Beziamag!"</p>

            <a href="about-us.html" class="hero__link btn">about us</a>
          </div>
        </div>
      </div>
  <!-- PRODUCTS -->
  <section class="products" id="products">
    <div class="products__container container">
      <h2 class="products__title">featured products</h2>

      <button class="btn btn--slider btn--left"> <svg class="btn--icon btn--left__icon" fill="currentColor" height="800px" width="800px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 330 330" xml:space="preserve">
        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
        c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
        C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
        C255,161.018,253.42,157.202,250.606,154.389z"/>
      </svg></button>

      <button class="btn btn--slider btn--right">
        <svg class="btn--icon btn--right__icon" fill="currentColor" height="800px" width="800px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 330 330" xml:space="preserve">
        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
        c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
        C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
        C255,161.018,253.42,157.202,250.606,154.389z"/>
      </svg></button>

      <!-- PRODUCTS LIST  -->
      <ul class="products__list">
        <!-- ** { 1 } ** -->
        <li class="products__list-item product-card">
          <img class="product-card__img" id="carImage1" src="https://source.unsplash.com/1600x900/?car-accessories/1" alt="Auto Part Image 1">
          <div class="product-card__info">
            <h3 class="product-card__title">Auto part</h3>
            <span class="product-card__price">price: 0.00 sum</span>
          </div>
        </li>

        <!-- ** { 2 } ** -->
        <li class="products__list-item product-card">
          <img class="product-card__img" id="carImage1" src="https://source.unsplash.com/1600x900/?car-accessories/2" alt="Auto Part Image 1">
          <div class="product-card__info">
            <h3 class="product-card__title">Auto part</h3>
            <span class="product-card__price">price: 0.00 sum</span>
          </div>
        </li>


        <!-- ** { 3 } ** -->
        <li class="products__list-item product-card">
          <img class="product-card__img" id="carImage1" src="https://source.unsplash.com/1600x900/?car-accessories/3" alt="Auto Part Image 1">
          <div class="product-card__info">
            <h3 class="product-card__title">Auto part</h3>
            <span class="product-card__price">price: 0.00 sum</span>
          </div>
        </li>


        <!-- ** { 4 } ** -->
        <li class="products__list-item product-card">
          <img class="product-card__img" id="carImage1" src="https://source.unsplash.com/1600x900/?car-accessories/4" alt="Auto Part Image 1">
          <div class="product-card__info">
            <h3 class="product-card__title">Auto part</h3>
            <span class="product-card__price">price: 0.00 sum</span>
          </div>
        </li>


        <!-- ** { 5 } ** -->
        <li class="products__list-item product-card">
          <img class="product-card__img" id="carImage1" src="https://source.unsplash.com/1600x900/?car-accessories/5" alt="Auto Part Image 1">
          <div class="product-card__info">
            <h3 class="product-card__title">Auto part</h3>
            <span class="product-card__price">price: 0.00 sum</span>
          </div>
        </li>


        <!-- ** { 6 } ** -->
        <li class="products__list-item product-card">
          <img class="product-card__img" id="carImage1" src="https://source.unsplash.com/1600x900/?car-accessories/6" alt="Auto Part Image 1">
          <div class="product-card__info">
            <h3 class="product-card__title">Auto part</h3>
            <span class="product-card__price">price: 0.00 sum</span>
          </div>
        </li>


        <!-- ** { 7 } ** -->
        <li class="products__list-item product-card">
          <img class="product-card__img" id="carImage1" src="https://source.unsplash.com/1600x900/?car-accessories/7" alt="Auto Part Image 1">
          <div class="product-card__info">
            <h3 class="product-card__title">Auto part</h3>
            <span class="product-card__price">price: 0.00 sum</span>
          </div>
        </li>


        <!-- ** { 8 } ** -->
        <li class="products__list-item product-card">
          <img class="product-card__img" id="carImage1" src="https://source.unsplash.com/1600x900/?car-accessories/8" alt="Auto Part Image 1">
          <div class="product-card__info">
            <h3 class="product-card__title">Auto part</h3>
            <span class="product-card__price">price: 0.00 sum</span>
          </div>
        </li>


        <!-- ** { 9 } ** -->
        <li class="products__list-item product-card">
          <img class="product-card__img" id="carImage1" src="https://source.unsplash.com/1600x900/?car-accessories/9" alt="Auto Part Image 1">
          <div class="product-card__info">
            <h3 class="product-card__title">Auto part</h3>
            <span class="product-card__price">price: 0.00 sum</span>
          </div>
        </li>


        <!-- ** { 10 } ** -->
        <li class="products__list-item product-card">
          <img class="product-card__img" id="carImage1" src="https://source.unsplash.com/1600x900/?car-accessories/10" alt="Auto Part Image 1">
          <div class="product-card__info">
            <h3 class="product-card__title">Auto part</h3>
            <span class="product-card__price">price: 0.00 sum</span>
          </div>
        </li>
      </ul>
    </div>
  </section>



  <!-- * * * / FEATURES \ * * * -->
  <section class="features section">
    <div class="container">
      <div class="features__section-info section__info">
        <h2 class="section__title">Features</h2>
        <p class="section__description">Discover Beziamag's Exceptional Features: Trust Excellence, Extensive Choises,  and Buy Easily for an Unmatched Driving Experience.</p>
      </div>
      <!-- * * / TABS \ * * -->
      <div class="tabs">
        <ul class="tabs__list">
          <li class="tabs__item tabs__item--active">
            <a class="tabs__link js-tab-link" href="#feature-trust-excellence" data-tab-target="#feature-trust-excellence">Trust Excellence</a>
          </li>
          <li class="tabs__item">
            <a class="tabs__link js-tab-link" href="#feature-extensive-choises" data-tab-target="#feature-extensive-choises">Extensive Choices</a>
          </li>
          <li class="tabs__item">
            <a class="tabs__link js-tab-link" href="#feature-buy-easily" data-tab-target="#feature-buy-easily">Buy Easily</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- * * */ TAB PANELS \* * * -->
    <div class="tabpanels">
      <div class="container">
        <!-- * **/ 1 \** * -->
        <div class="tabpanels__item tabpanels__item--active" id="feature-trust-excellence">
          <section class="feature-tab-panel">
            <img class="feature-tab-panel__img" src="img/brand.png" alt="Trust Excellence" width="400" height="400">
            <div class="feature-tab-panel__info">
              <h3 class="feature-tab-panel__title">Trust Excellence</h3>
              <p class="feature-tab-panel__text">
                Beziamag: Trust Excellence in Every Auto Part – Your Reliable Companion for Quality and Innovation. Experience the Difference!</p>
                <a href="#" class="btn">More Info</a>
              </div>
            </section>
          </div>

          <!-- * **/ 2 \** * -->
          <div class="tabpanels__item" id="feature-extensive-choises">
            <section class="feature-tab-panel">
              <img class="feature-tab-panel__img" src="img/order.png" alt="Extensive Choices" width="400" height="400">
              <div class="feature-tab-panel__info">
                <h3 class="feature-tab-panel__title">Extensive Choices</h3>
                <p class="feature-tab-panel__text">Explore a World of Options at Beziamag: Unleash Your Car's Potential with our Diverse and Top-Quality Auto Spare Parts Collection. From Performance Boosters to Stylish Accessories, We've Got You Covered for Every Drive!</p>
                <a href="#" class="btn">More Info</a>
              </div>
            </section>
          </div>

          <!-- * **/ 3 \** * -->
          <div class="tabpanels__item" id="feature-buy-easily">
            <section class="feature-tab-panel">
              <img class="feature-tab-panel__img" src="img/delivery.png" alt="Buy easily on Beziamag" width="400" height="400">
              <div class="feature-tab-panel__info">
                <h3 class="feature-tab-panel__title">Buy easily on Beziamag</h3>
                <p class="feature-tab-panel__text">Discover a Seamless Shopping Experience on Beziamag: Effortlessly Purchase Top-Quality Auto Parts and Enjoy Convenient Delivery to Your Doorstep!</p>
                <a href="#" class="btn">More Info</a>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock %}