{% extends 'base.html' %}
{% load static %}
{% load beziamag_tags %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
  <main id="product-detail-app" class="main-content">
    <div  class="product-page">
      <div class="product-page__container container">
        <!-- PRODUCT GALLERY -->
        <div class="product-page__gallery">
            <!-- IMAGE SHOWCASE -->
            <div class="image-showcase">
                <!-- Image Showcase Controller Button [for mobile responsive] -->
                <!-- Lightbox Toggle Button -->
                <button class="image-showcase__lightbox-toggle js-lightbox-toggler" type="button" aria-label="Open Image Gallery"></button>
                <img class="image-showcase__img image-showcase__img--mobile" src="{% get_image_url product.image %}" alt="{{ product.name }}" width="445" height="445">
            </div>
        </div>
        <!-- PRODUCT INFO  -->
        <div class="product-page__info">
          <div class="product-info">
            <h1 class="product-info__title">{{ product.name }}</h1>
            <p class="product-info__description">{{ product.description }}</p>

            <!-- * * PRICE * * -->
            <div class="product-info__price-wrapper">
              <b class="product-info__price">${{ product.price }}</b>
            </div>

            <!-- */ Shopping Cart Actions \* -->
            <div class="product-page__cart-actions">
              <div class="product-info__quantity-wrapper">
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                  {% csrf_token %}
                  <input type="number" name="quantity" value="1" min="1" max="99" class="form-control">
                  <button type="submit" class="btn btn-primary btn-lg">Add to Cart</button>
                </form>
              </div>
            <!-- */ Reviews \* -->
            <div class="product-info__reviews">
              <h3>Customer Reviews:</h3>
              <ul>
                  {% for review in reviews %}
                      <li class="review">
                          <strong>{{ review.author.username }}:</strong><em>"{{ review.content }}"</em> - Rating: {{ review.rating }}/5
                      </li>
                  {% empty %}
                      <li>No reviews yet.</li>
                  {% endfor %}
              </ul>
          </div>
          <form method="post" action="{% url 'add_review' product.id %}">
            {% csrf_token %}
            <!-- The form structure -->
            <div>
                <label for="content">Review:</label>
                <textarea id="content" name="content"></textarea>
            </div>
            <div>
                <label for="rating">Rating:</label>
                <select id="rating" name="rating">
                    <!-- Generate rating options -->
                    {% for i in "12345" %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Submit Review</button>
        </form>

              <!-- Continue Shopping Button -->
              <a href="{% url 'products:product_list' %}" class="btn btn-outline-secondary mt-3">&laquo; Continue Shopping</a>
              <!-- Proceed to Checkout Button -->
              <a href="{% url 'cart:cart_detail' %}" class="btn btn-warning mt-3">Checkout &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}